*{
    margin: 0;
    padding: 0;

}
#wraper{
    margin: 0 auto;
    width: 900px;
    height: 300px;
    margin-top: 20px;
    font-family:  Tahoma;
    font-size: 15px;
    padding: 10px;
   border: 1px solid rgb(135, 129, 129);
}
.boxleft{
    width: 593px;
    height: 300px;
float: left;
background-color: aliceblue;
}
.boxright{
    width: 260px;
    margin-left: 8px;
    float: right;
    
}
.box_right_sub1{
    margin-bottom: 10px;
   
    background-color: aliceblue;
  
}

h1{
    text-decoration: none;
    font-variant: small-caps;
    font-size: 18px;
    color: #0063a4;
   
}